.navbar {
  background-color: #312f2f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  height: 50px;

  margin: 20px 0 0 20px;
  padding: 0 4% 0 0;
  overflow: visible;

  border-radius: 38px 42px 0;

  .logo {
    max-height: 90px;
  }

  .navbarButtonsWrapper {
    width: auto;
    min-width: 240px;
    display: flex;
    align-items: center;
  }

  .navButton {
    //SIZING
    background: #40c9a2;
    border: 1px solid rgba(49, 47, 47, 0.3);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 0.5% 5%;
    margin: 1.5%;

    //TYPOGRAPHY
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 36px;
    text-align: center;
    color: #f4f4f9;
  }

  img {
    padding-right: 10px;
  }
}
